.btn-primary {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  font-size: 14px;
  background: #4AB7FF;
  border-radius: 8px;
  border: none;
  box-shadow: none;
  cursor: pointer;
}
