.image-button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  &:hover, &:focus, &:active {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}
