#modal-root .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogue {
  display: block;
  padding: 24px;
  background: #ffffff;
  border: 1px solid rgba(221,224,228,0.70);
  box-shadow: 0 16px 64px 0 rgba(0,0,0,0.08);
  border-radius: 8px;

  width: 316px;
  min-height: 320px;

  header {
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 0;
      font-weight: normal;
      color: #2F363F;
    }

    .push-right {
      justify-self: flex-end;
      margin-left: auto;
    }
  }
}
