.treeview-container {
  ul {
    list-style-type: none;
    padding-left: 20px;
    border-left: 2px #FFEEEFF1 solid;
    transition: all 0.3s ease-in;

    &.open {
      max-height: 200vh;
    }

    &.close {
      max-height: 0;
      overflow: hidden;
    }

    &.no-padding {
      padding-left: 0;
      border-left: none;
    }
    
    li {
      display: block;
      padding: 8px 0;
    }
  }

  a {
    text-decoration: none;
    color: #2F363F;
    font-size: 16px;
    line-height: 20px;
    display: block;

    &.root-label {
      color: #AFB2B6;
      font-weight: bold;
    }

    &.lighter {
      color: #535B62; 
    }
  }

  .dropdown-button {
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s linear;

    outline: none;
    &:hover, &:focus, &:active {
      outline: none;
    }
    
    &.up {
      transform: rotate(180deg);
    }

    &.down {
      transform: rotate(0deg);
    }

  }
}
