.app-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
}

.main-container {
  padding: 24px;
  width: 100%;

  h1.current-location {
    font-size: 24px;
    margin: 0;
    display: flex;
    align-items: center;
  }
}

.file-explorer-container {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .file-item {
    display: flex;
    flex-direction: column;
    width: 96px;
    height: 120px;
    text-decoration: none;

    .file-name-wrapper {
      display: flex;
      justify-content: center;
      text-align: center;
    }

    margin-right: 48px;
    margin-bottom: 48px;

    &:hover {
      background: #E6F5FF;
    }
  }
}

.file-icon-wrapper {
  width: 96px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  .file-ext {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 14px;
    color: white;
  }
}

.sidebar-container {
  width: 256px;
  max-width: 40%;
  height: 100%;
  min-height: 100vh;
  background: #FFF9FAFC;
  padding: 20px;
  padding-top: 32px;
}

.treeview-container {
  ul {
    list-style-type: none;
    padding-left: 20px;
    border-left: 2px #FFEEEFF1 solid;
    transition: all 0.3s ease-in;

    &.open {
      max-height: 200vh;
    }

    &.close {
      max-height: 0;
      overflow: hidden;
    }

    &.no-padding {
      padding-left: 0;
      border-left: none;
    }
    
    li {
      display: block;
      padding: 8px 0;
    }
  }

  a {
    text-decoration: none;
    color: #2F363F;
    font-size: 16px;
    line-height: 20px;
    display: block;

    &.root-label {
      color: #AFB2B6;
      font-weight: bold;
    }

    &.lighter {
      color: #535B62; 
    }
  }

  .dropdown-button {
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s linear;

    outline: none;
    &:hover, &:focus, &:active {
      outline: none;
    }
    
    &.up {
      transform: rotate(180deg);
    }

    &.down {
      transform: rotate(0deg);
    }

  }
}

.current-location-part {
  margin: 0 5px;
  font-weight: normal;
  color: #81878C;
  &:last-child {
    color: #001800;
  }
}

#modal-root .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogue {
  display: block;
  padding: 24px;
  background: #ffffff;
  border: 1px solid rgba(221,224,228,0.70);
  box-shadow: 0 16px 64px 0 rgba(0,0,0,0.08);
  border-radius: 8px;

  width: 316px;
  min-height: 320px;

  header {
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 0;
      font-weight: normal;
      color: #2F363F;
    }

    .push-right {
      justify-self: flex-end;
      margin-left: auto;
    }
  }
}

#toast-root .toast-area {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 300px;
  z-index: 99;
}

.toast {
  display: block;
  margin-top: 20px;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  background: #0008;
  color: white;
  box-shadow: 0 0 20px #0005;

  &.error {
    color: #ffaaaa;
  }
}

#contextmenu-root .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

.context-menu {
  position: absolute;
}

.context-menu-inner {
  width: 160px;
  min-height: 40px;
  background: white;
  border: 1px solid rgba(221,224,228,0.50);
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.05);
  border-radius: 8px;
  overflow: hidden;

  ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    margin: 0;
  }

  li a {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    width: 100%;
    text-decoration: none;

    &:hover {
      background: #EEEFF1;
      cursor: pointer;
    }
  }
}

.two-col {
  width: 100%;
  display: block;

  .left {
    text-align: right;
    display: inline-block;
    width: 50%;
    padding-right: 10px;
  }
  .right {
    text-align: left;
    display: inline-block;
    width: 50%;
    color: #81878C;
  }
}
