.mr-md {
  margin-right: 27px;
}

.mt-sm {
  margin-top: 16px;
}

.mt-lg {
  margin-top: 48px;
}

.mt-md {
  margin-top: 24px;
}

.mv-md {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mh-md {
  margin-left: 24px;
  margin-right: 24px;
}

.vcenter {
  display: flex;
  align-items: center;
}

.fw {
  width: 100%;
}

.fc {
  width: fit-content;
}

.hcenter {
  margin-left: auto;
  margin-right: auto;
}

.pull-right-36 {
  margin-right: -36px;
}

.err-sm {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

.danger {
  color: red;
}

.tac {
  text-align: center;
}

.normal-weight {
  font-weight: normal;
}
